*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
   
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}


.encabezado{

background-color: rgb(185, 148, 78);
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
height: 60px;
width: 100%;
position: relative;
}

.encabezado header{

position: relative;
top: 15px;
text-align: center;


}
.menu{

    background-color: rgb(207, 140, 63);
    font-size: 20px;
    text-align: center;
    word-spacing: 30px;
    height: 60px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu a{

text-decoration: none;
position: relative;
top: 15px;
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.seccion1{

text-align: justify;
font-size: 16px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
min-height: 300px;
width: 80%;
}

.seccion1 p{

font-size: 17px;

}

.encabezado1{

text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seccion2{
display: flex;
align-items: justify;
justify-content: justify;
height: 100px;
min-width: 100%;
background-color: rgb(39, 35, 35);
background-position: justify justify;
color: rgb(245, 237, 237);
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seccion2 p{

position: relative;
bottom: 0.5em;

}

.seccion3{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
font-size:  16px;
min-height: 250px;
width: 80%;
}

#productos{
display: flex;
flex-wrap: row wrap;
}

p{

margin-left: 0.5em;

}


h1{

margin-left: 0.5em;

}

h2{

margin-left: 0.5em;

}

#pie{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.admin{

font-size: 20px;
word-spacing: 12px;
position: relative;
top: 0.5em;
bottom: 0.5em;
}

.botones{

position: relative;
top: 0.5em;
padding-left: 100px;

}
.botones button{
margin: 0.5em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
background-color: rgb(190, 156, 123);
position: relative;
right:4em;
bottom: 0.5em;
padding-right: 30px;

}


.seccionimg{
 padding-left: 1em;
 text-align: justify;   
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 16px;
 background-color: azure;
}

#imagenes{

    height: 200px;
    width: 200px;



}



#imagenespro{
height: 200px;
width: 200px;
position: relative;
left: 18px;   
top: 20px; 



}




.login{

text-align: center;
position: relative;
top: 2em;
left: 400px;
background-color: burlywood;
width: 40%;


}


#botoncomprar{


position: relative;



}

#imagenesmostrar{

height: 200px;
width: 200px;
position: relative;
top: 20px;
}



